.brundinnet img {
    height: auto;
    width: 40%;
    margin-left: 30%;
    margin-top: 25%;
}

html {
    background-color: #5ee0ff;
    font-family: 'Roboto', sans-serif;
    color: #0e2160
}

.brundinnet h5 {
    text-align: center;
}

.contact {
    margin-top: 10%;
}

.contact h3 {
    text-align: center;
}